.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:45vh;
    width:100%
}

.card-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
    height:auto;
    width:85%;
    overflow: hidden;
}

.card-text{
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.5vw;
    color: black;
    margin:0;
    
}